<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Poster des Annonces</h4>
      </div>
      <div class="modal-body">
        <%= form_for :listing, :url => {:action => :create}, html: {class: "form-inline"} do |f| %>
       
          <fieldset>
          <!-- Form Name -->
          <legend>Publier une annonce</legend>
            <div class="form-group">
              <%= f.label :name%><br>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :image %><br>
              <%= f.file_field :image %>
            </div>
            <div class="form-group">
             <label>Images additionel du produit</label>
              <%= file_field_tag "images[]", type: :file, multiple: true %>
            </div>
            <div class="form-group">
              <%= f.label :description %><br>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :price %><br>
              <%= f.text_field :price, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :category_id %><br>
              <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "choose a category"}, {class: "btn btn-default dropdown-toggle form-control"}%>
            </div>

            <div class="form-group">
              <%= f.button "Publier Annonce" , class: 'btn btn-login', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Publication en cours..."} %>
            </div>

       <% end %>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
