<div class="item">
  <%= link_to (image_tag listing.image.url(:medium)), listing_path(listing) %>               
    <div class="info">
      <span class="item_title"><%= listing.name %></span>
        <%if listing.display_usd == true %>
          <span class="item_price"><%=number_to_currency(listing.price, unit:"$", precision: 2)%></span> 
        <% else %>
          <span class="item_price"><%=number_to_currency(listing.price, unit:"HTG", precision: 2)%></span> 
        <%end%>
      <span class="avatar_info">
         <%=link_to seller_path(listing.user.id) do %>
         <%=image_tag listing.user.avatar.url(:athumb), size: "20x20", 
             alt: "avatar",class: "img-circle has-tooltip ",
             title: listing.user.username , 'data-toggle' => 'tooltip', 'data-placement' => 'top'  %>
         <%end%>
      </span>
     
    </div>

    <% if listing.created_at >= (Time.now.midnight - 1.day)..Time.now.midnight %>
      <span class="label label-green">New</span>
    <%end%>

  <div class="block-actions clearfix"> 
    <%=form_for(Like.new,:remote => true) do |f| %>
    <%= f.hidden_field :listing_id, value: listing.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.button " " , class: 'round-button btn-center', data:{disable_with: '..'} do %>
          <span class="glyphicon glyphicon-heart"></span>    
        <%end%>
    <%end%>
  </div>
</div>

        

 
