<div class="container clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="main_pages switcher">
        <h3>Touts les Produits</h3>
        <p>Découvrez les produits de partout dans le marché.</p>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Recent</button>
          <button type="button" class="btn btn-default">Populaire</button>
        </div>
      </div>
      <div class="item_box">
        <h3 class="pull-left">Produits en vedette</h3>
        <%= link_to "Voir plus >>",browse_path , class: 'pull-right' %>
      </div>
      <div class="item_list">
          <ul>
            <% @listings.each do |listing| %>
              <li class="item">
                    <%= link_to (image_tag listing.image.url(:medium)), listing_path(listing) %>               
                  <div class="info">
                    <span class="item_title"><%= listing.name %></span>
                    <span class="avatar_info">
                       <%=link_to "" do %>
                       <%=image_tag listing.user.avatar.url(:athumb), size: "20x20", alt: "avatar",class: "img-circle"%>
                       <p><%=listing.user.name%></p>
                       <%end%>
                    </span>
                    <span class="item_price">Gdes <%=(listing.price)%>
                    </span>
                  </div>
                 
                  <div class="block-actions">
                    <%=form_for(Like.new,:remote => true) do |f| %>
                    <%= f.hidden_field :listing_id, value: listing.id %>
                    <%= f.button " " , class: 'btn btn-success btn-sm', data: {disable_with: " saving..."} do %>
                       <span class="glyphicon glyphicon-heart"></span> like
                        <%end%>   
                    <%end%>
                  </div>                                 
              </li>
             <% end %>  
          </ul>  
      </div>
    </div>
     <div>
        <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination pagination-sm" %>
     </div>   
  </div>
</div>