
<li class="trending_listing">
    <%= link_to listing_path(listing)  do %>
    <%= image_tag (listing.image(:medium))%>
    <div class="info clearfix">
      <span class="listing_title"><%= listing.name%></span>
      <span class="listing_price"><%=number_to_currency(listing.price, precision: 2, unit: "Gdes", delimiter: "",separator: "," )%></span>
    </div>  
  <% end %>
  <ul class="related_images">
    <%listing.pictures.limit(2).each do |picture| %>
    <li>
      <%=link_to listing_path(listing) do%>
      <div class="thumbnail-outer">
        <div class="thumbnail-inner">
        <%= image_tag picture.image.url(:medium)%>
        </div>
      </div>
      <%end%>
    </li>
    <%end%>
    <li class="price_count">
     <div class="thumbnail-outer count-box">
          <div class="thumbnail-inner">
            <a class="shop-listing-count" href="">        
              <span class="listing-count">
                 <%= listing.user.listings_count%> 
              </span> items  
            </a>
          </div>
      </div>
    </li>               
  </ul>                 
  <div class="about-shop clear">
    <a href="">
      <span class="owner-details">
        <span class="about-image">
          <%= image_tag listing.user.avatar.url(:medium), class: "img-circle"%>
         </span>                          
          <em>From</em> <span class="shop-name"><%=listing.user.name%></span> <br>
          <em>in</em> <span class="location">Delmas</span>                          
      </span>                       
    </a>
  </div>            
</li>
