<div class="intro_listing">
  <%= render :partial => 'shared/intro'%>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="trending">
        <h3>Trending</h3>
        <% if @trend.blank?%>
         <p> we don't have data to show you yet </p>
         <%else%>
        <ul>
            <% @trend.each do |listing| %>
              <li class="item">
                    <%= link_to (image_tag listing.image.url(:medium)), listing_path(listing) %>               
                  <div class="info">
                    <span class="item_title"><%= listing.name %></span>
                    <span class="avatar_info">
                       <%=link_to seller_path(listing.user) do %>
                       <%=image_tag listing.user.avatar.url(:athumb), size: "20x20", alt: "avatar",class: "img-circle"%>
                       <p><%=listing.user.username %></p>
                       <%end%>
                    </span>
                    <span class="item_price">Gdes <%=(listing.price)%>
                    </span>
                  </div>

                  <% if listing.created_at >= (Date.today) %>
                    <span class="label label-green">New</span>
                  <%end%>
                 
                  <div class="block-actions clearfix">
                    <%=form_for(Like.new,:remote => true) do |f| %>
                    <%= f.hidden_field :listing_id, value: listing.id %>
                    <%= f.button " " , class: 'btn btn-success btn-sm', data: {disable_with: " saving..."} do %>
                       <span class="glyphicon glyphicon-heart"></span> like
                    <%end%>   
                    <%end%>
                  </div>                                 
              </li>
             <% end %>  
          </ul>
         <%end%>  
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="index_cat">
              <h3>Plus de catégories pour faire du shopping</h3>
                <div class="cat_list ">
                  <ul class="list_cat ">
                  <li class="electro"><a href="">Electroniques</a></li>
                  <li class="artisanat"><a href="">Artisanats</a></li>
                  <li class="fashion"><a href="">Fashion</a></li>
                  <li class="jouet"><a href="">Jouets</a></li>
                  <li class="deal"><a href="">Deals</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="deal">
        <h3>Deal</h3>
      </div>
    </div>
  </div>
</div>