<%= tinymce_assets %>
<body class="dash">
<% @title = "dashboard" %>
<%= render :partial => 'listings/form'%> 
<div class ="container">
    <div class = "row">
        <div class ="col-md-12">
            <div class="tabs_link">
                <div class="btn_box">
                    <button type="button" class="btn-follow btn-spacer btn-spacer-plus " data-toggle="modal" data-target="#myModal">
                      <i class="fa fa-plus"></i> Poster ici
                    </button>
                </div>
                
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active">
                        <a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">
                            <i class="fa fa-binoculars"></i>Overview
                        </a>
                     </li>
                    <!--<li role="presentation">
                        <a href="#Activity" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="fa fa-bell"></i>Activity
                        </a>
                     </li>-->
                    <li role="presentation">
                        <a href="#Listings" aria-controls="Listings" role="tab" data-toggle="tab">
                            <i class="fa fa-tasks"></i>Annonces
                        </a>
                    </li>
                    <!--<li role="presentation">
                        <a href="#Sales" aria-controls="Sales" role="tab" data-toggle="tab">
                            <i class="fa fa-credit-card"></i>Sales
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#Orders" aria-controls="Orders" role="tab" data-toggle="tab">
                            <i class="fa fa-shopping-cart"></i>Orders
                        </a>
                    </li>-->
                  
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Overview">
                       <%= render :partial => 'listings/overview'%>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Activity">
                     
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Listings">
                      <h3 class="time_lead">Manage Listings (<%= current_user.listings.count%>) </h3> 
                      <%= render :partial =>'listings/current_list'%>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Sales">...</div>
                    <div role="tabpanel" class="tab-pane" id="Orders">
                        <p>demo</p>
                    </div>
                   
                  </div>

                </div>
            </div>  
        </div>
    </div>
</div>
    


 
   