<body class="dash">
<% @title = "Dashboard" %>
<%= render :partial => 'listings/form'%>
<div class ="container">
    <div class = "row">
        <div class ="col-md-12">
            <div class="tabs_link">
                <div class="owner_pic">
                    <%= image_tag current_user.avatar.url(:amedium), size:"72x72", class: "img-circle"%>
                </div>
                <h3 class="smaller">Membre depuis Juin 2015</h3>
                <h3 class="dash_h3">Dashboard</h3>
                <small class="smaller"> <%=Time.now.strftime("%B %e, %Y at %I:%M %p")%></small>
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active">
                        <a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">
                            <i class="fa fa-binoculars"></i>Overview
                        </a>
                     </li>
                    <li role="presentation">
                        <a href="#Activity" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="fa fa-bell"></i>Activity
                        </a>
                     </li>
                    <li role="presentation">
                        <a href="#Listings" aria-controls="Listings" role="tab" data-toggle="tab">
                            <i class="fa fa-tasks"></i>Listings
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#Sales" aria-controls="Sales" role="tab" data-toggle="tab">
                            <i class="fa fa-credit-card"></i>Sales
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#Orders" aria-controls="Orders" role="tab" data-toggle="tab">
                            <i class="fa fa-shopping-cart"></i>Orders
                        </a>
                    </li>
                  
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Overview">
                      
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Activity">
                      <%= render :partial => 'activities/index'%>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Listings">
                      <h3 class="time_lead">Mes Publications </h3> 
                      <%= render :partial =>'listings/current_list'%>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Sales">...</div>
                    <div role="tabpanel" class="tab-pane" id="Orders">
                        <p>demo</p>
                    </div>
                   
                  </div>

                </div>
            </div>  
        </div>
    </div>
</div>
    


 
   