 <% @title = "seller" %>
 <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="page-header">
                            <h1>Listings Dashboard <small class=
                            "smaller"><%=Time.now.strftime("%B %e, %Y at %I:%M %p")%></small></h1>
                        </div>
                        <!---<h3 class="text-left">Listings Published and Active</h3>-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Listings Published and Active
                            </div>

                            <table class=
                            "table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Listing number</th>

                                        <th>Product name</th>

                                        <th>Product Price</th>

                                        <th>Date creation</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @listings.each do|listing|%>

                                    <tr>
                                        <td class="success">
                                        <%=listing.listing_number%></td>

                                        <td><%=listing.name%></td>

                                        <td><%=listing.price%></td>

                                        <td><%=listing.created_at%></td>

                                        <td>
                                        <%= link_to edit_listing_path(listing), class: "btn btn-primary btn-xs" do %>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <%end%>
                                        <%= link_to listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" do %>
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <%end%>
                                        </td>
                                    </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination pagination-sm" %>
                        </div><!--<h3>
h3. Lorem ipsum dolor sit amet.
</h3>-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Current orders
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>

                                        <th>Product</th>

                                        <th>Payment Taken</th>

                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>

                                        <td>TB - Monthly</td>

                                        <td>01/04/2012</td>

                                        <td>Default</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination pagination-sm" %>
                        </div>
                    </div>

                    <div class="col-md-4 column">
                        <%=image_tag current_user.avatar.url(:amedium), class: 'img-circle', size: "140x140"%>

                        <h2>About me</h2>

                        <p>Donec id elit non mi porta gravida at eget metus.
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet
                        risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui.</p>

                        <p><a class="btn" href="#">View details »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%= render :partial => 'listings/form'%>

