<body id="bd_list">
<% @title = 'show' %>
<div class="container clearfix">
  <div class="row">
    <div class="col-md-12">
     <div class="ads">
        <%=render :partial =>'listings/adleaderboard'%>
      </div>
      <!--<div class="main_pages switcher">
     
        <div class="btn-group" role="group" aria-label="...">
           <a href ="/browse" class="btn btn-default">
              <span class="fa fa-arrow-circle-o-left"></span>back
           </a>
           <a href ="/recent" class="btn btn-default">
              <span class="fa fa-clock-o"></span>Recent
           </a> 
           <a href ="/popular" class="btn btn-default">
              <span class="fa fa-fire"></span>Trending
           </a> 
        </div>
      </div>-->    
   <div class="product">
		<div class="container">
		   <div class="row">
				<div class="col-md-12">
					<div class="title_head">
						<!--<span class="label label-primary label-id">Id:<%#=@listing.listing_number%></span>-->
						<p class="desc_title"><%=@listing.name%></p>
						<p class="desc"><%=@listing.description%></p>
					</div>
				</div>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-7">
					<div class="social_icon">
					</div>
					<div class="first_col">
              <%=image_tag @listing.image.url(:large)%>			
            </div>
           <div class="stats">
            <%= render :partial => 'listings/like'%>	
            <%= render :partial => 'listings/viewcount'%>
          </div>
          <p class="thread_header positioned">Description de Produits</p>
					<div class="body_desc">
					   <p><%=@listing.description%></p>
					</div>
					<div class="comments">
					   <%= commontator_thread(@listing) %>
					</div>
				</div>
				<div class="col-md-2">
					<!--<div class="mid_col">
            	
					</div>-->
				</div>
				<div class="col-md-3">			
                    <div class="box-container">
                      <div class=" box box-title">
                        <%if @listing.display_usd == true %>
                            <h2><%=number_to_currency(@listing.price, unit:"$", precision: 2)%></h2> 
                            <% else %>
                            <h2><%=number_to_currency(@listing.price, unit:"HTG", precision: 2)%></h2> 
                        <%end%>
                      </div>
                      <div class=" box box-condition">
                        <h3>condition <span>Used</span></h3>
                      </div>
                      <div class=" box box-condition localisation">
                        <h3>Localisation <span>Delmas</span></h3>
                      </div>
                       <div class=" box box-condition localisation">
                        <h3>Category <span><%=@listing.category.name %></span></h3>
                      </div>
                      <div class=" box box-vente">
                        <div class="info-avatar">
                          <%= image_tag @listing.user.avatar.url(:amedium),size: "40x40", class: "img-circle"%>
                        </div>
                        <div class="seller-info">
                           <h3><%= link_to @listing.user.name %></h3>
                           <p> Member since 2018</p>
                        </div>
                      </div>
                      <div class=" box actions-block">
                        <div class="contact">
                          <% unless current_user == @user %>
                            <%= link_to "contacter", new_message_path(to: @listing.user.id) %> 
                           <% end %>
                        </div>
                        <div class="more">
                          <%=link_to"Autre Annonces", seller_path(@listing.user) %>  
                        </div>
                      </div>
                    </div>
				</div>
			</div>
		  </div>
	    </div>
      </div>
    </div>
  </div>
</div>