
<% @sellers.each do |seller| %>
<div class="sellers_box">
	<div class="sellers_info">
	<%= image_tag seller.avatar.url(:amedium), class: "img-circle pull-left",size: "64x64"%>
		<div class="demo">
		 <h3><%=link_to seller.username , seller_path(seller)%></h3>
		 <span> <i class="fa fa-map-marker"></i><p><%= seller.location%></p></span>
		</div>
	</div>
	<div class="seller_item">
		<h3><%=seller.listings_count%> <span>items</span></h3>
	</div>
	<div class="items_pic">
     <% seller.listings.limit(6).each do |listing|%>
     <%= link_to (image_tag listing.image.url(:thumb)), listing_path(listing)%>
     <%end%>
	</div>
	<div class="seller_foot">	
	  
	</div>
</div>
<%end%>
<div>

</div>  