<body id="bd_list">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="show_head">
				<div class="show_image pull-left">
				<%=image_tag @user.avatar.url(:amedium), class: 'img-circle', size: "106x106"%>
				</div>		   
				<div class="show_info">
					<h3><%=@user.name%></h3>
					<p><%=@user.bio%></p>
		       <span class="glyphicon glyphicon-map-marker" aria-hidden="true"><span class="map-loc"><%=@user.location%></span></span>
				</div>
			</div>
			<%= render :partial => 'shared/stats'%>
			<%= render :partial => 'sellers/follow_form' if user_signed_in? %>
			<div class="item_list" >
            <div id="listings">        
              <%= render @listings ,locals: {listing: @listing} %>  
           </div>        
         </div>
			<div>
			 <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination pagination-sm" %>
      </div>
		</div>
	</div>
</div>