<% @title = 'passchange'%>
<body class="signin">
<div class="container">
  <div class="row">
    <div class="col-md-12">
         <div class="separator"></div>
         <div class="hr">
          <div class="inner">Changer Mot de Passe</div> 
         </div>
      <div class="login centered-login">
      <%= devise_error_messages! %>   
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
              <%= f.label :password, "Nouveau password" %><br />
              <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmer password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
          </div>
          <%= f.submit "Changer mot de passe" , class: 'btn btn-login', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Connexion en cours..."} %>
        <% end %>
        <div class="retrieve">
          <%= render "devise/shared/links" %>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="hr"></div>