<div class="header">
  <div class="main_header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class=" col-md-2">
              <div class="head_brand">
                  <%= link_to image_tag("logobig1.png"), main_app.root_path %>
              </div>
          </div>
          <div class="col-md-5">
            <div class="form_nav">
               <%= search_form_for @q, url: main_app.listings_path , :class => "topnav-form"  do  |f| %>
                  <div class="topnav_search">
                    <%= f.search_field :name_cont, placeholder: 'Recherche de produits, les boutiques, les collections, et vendeurs..', class: 'topnav_inp' %>
                  </div>
                  <%= f.button "Submit" , :class =>'search-button' do %>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <%end%>
              <% end %>
            </div>  
          </div>
          <div class="main_menu col-md-5">
            <ul class="main_nav pull-right">
               <% if @title == "Dashboard"%>                           
                <li> 
                    <div class="btn_box">
                        <button type="button" class="btn-follow btn-spacer btn-spacer-plus " data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-plus"></i> Poster ici
                        </button>
                    </div>
                </li>
               <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle avat" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                       <i class="fa fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                    </ul>                         
               </li>
                <li>
                  <%= link_to content_tag(:span, "", class: "env fa fa-envelope"), main_app.conversations_path%>
                  <% if current_user.mailbox.inbox.present? %>
                      <span class="badge"><%=current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true)%></span>
                  <%end%>                                        
               </li>
                <li role="presentation" class="dropdown">
                <a class="dropdown-toggle avat" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <span class="mini_avatar">
                     <%= image_tag current_user.avatar.url(:athumb), class: "img-circle",size: "22x22" %>
                  </span>
                  <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                          <%= link_to content_tag(:span, "Dashboard", class: "glyphicon glyphicon-tasks"), 
                           main_app.dashboard_path%> 
                      </li>
                      <li>
                          <%= link_to content_tag(:span, " Edit Account", class: "fa fa-pencil-square-o"), 
                            main_app.edit_user_registration_path%>
                      </li>
                      <li>
                          <%= link_to content_tag(:span, "Conversations", class: "fa fa-comment"), 
                            main_app.conversations_path%>  
                      </li>
                      <li>
                        <%= link_to main_app.destroy_user_session_path, method: :delete, data: { no_turbolink: true } do %>
                          <span class="fa fa-sign-out"></span> Déconnexion
                        <% end %> 
                      </li>
                      <li>
                          <%= link_to content_tag(:span, " ", class: "glyphicon glyphicon-tasks"), ads_path%>
                      </li> 
                    </ul>
              </li>
                
                <%else%>
                <li>
                    <div class="btn_box">
                       <button type="button" class="btn-follow btn-spacer btn-spacer-plus">
                          <i class="fa fa-plus"></i>Poster ici
                        </button>                  
                   </div>                    
               </li>                 
             <%end%>
            </ul>           
          </div>
        </div>
      </div>
    </div>        
  </div>
  <% unless @title != "browse" %>
  <%= render :partial => 'shared/category'%>
  <%end%>
</div> 