 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <div class="navbar-brand" href="#">
                    <%= link_to image_tag("reverse_logo.png", class: ' animated bounce'), root_path %> 
                  </div>
                </div>
                  <ul class="nav navbar-nav pull-right">
                    <% unless @title == "browse" %>
                    <li><%=link_to "Browse", browse_path , class: 'brow'%></li>
                    <%end%>
                    <li>
                       <%= link_to conversations_path, data: { no_turbolink: true } do %>
                          <i class="glyphicon glyphicon-envelope"><span class="badge"><%=current_user.mailbox.inbox({:read => false}).count%></span></i>
                        <%end%>
                      <!--<a href="">
                        <i class="mail fa fa-inbox fa-2x"><span class="badge">42</span></i>
                      </a>-->
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="about-image">
                          <%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %>
                        </span>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <%= link_to '', data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-tasks"></i> Envoyer Message
                          <% end %> 
                        </li>
                        <li>
                          <%= link_to edit_user_registration_path, data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-cog"></i> Settings
                          <% end %> 
                        </li>
                        <% if current_user.listings.exists?%>
                        <li>
                          <%= link_to seller_path, data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-tasks"></i> Admin
                          <% end %> 
                        </li>
                        <%end%>
                        <li>
                          <%= link_to destroy_user_session_path, method: :delete, data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-log-out"></i> Déconnexion
                          <% end %> 
                        </li>
                      </ul>     
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle brow" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret "></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li>
                            <%= link_to about_path , data: { no_turbolink: true } do %>
                              <i class="glyphicon glyphicon-info-sign"></i> A propos
                            <% end %> 
                          </li>
                           <li>
                            <%= link_to contact_path, data: { no_turbolink: true } do %>
                              <i class="glyphicon glyphicon-phone-alt"></i> Contact Us
                            <% end %> 
                          </li>
                      </ul>
                    </li>
                    <li>
                       <%= button_to "Publier une annonce", new_listing_path, :method => :get, class: 'btn btn-post'%>
                    </li>
                  </ul>
              </div>
            </div>                
          </div>
        </nav>
      </div>         
    </div>
</div>

