 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <div class="navbar-brand" href="#">
                    <%= link_to image_tag("reverse_logo.png", class: ' animated bounce'), root_path %> 
                  </div>
                </div>
                  <ul class="nav navbar-nav pull-right">
                    <li class="active">
                      <a href="">
                        <i class="mail fa fa-inbox fa-2x"><span class="badge">42</span></i>
                      </a>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="about-image">
                          <%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %>
                          <!--<img src="https://s3.amazonaws.com/uifaces/faces/twitter/diesellaws/128.jpg" class="img-circle" height="30" width="30">-->
                        </span>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <%= link_to edit_user_registration_path, data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-cog"></i> Settings
                          <% end %> 
                        </li>
                        <li>
                          <%= link_to '', data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-info-sign"></i> A propos
                          <% end %> 
                        </li>
                        <li>
                          <%= link_to '', data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-tasks"></i> Admin
                          <% end %> 
                        </li>
                        <li>
                          <%= link_to destroy_user_session_path, method: :delete, data: { no_turbolink: true } do %>
                            <i class="glyphicon glyphicon-log-out"></i> Deconnecter
                          <% end %> 
                        </li>
                      </ul>
                    </li>
                    <li>
                       <%= button_to "Deposer une annonce", new_listing_path, :method => :get, class: 'btn btn-post'%>
                    </li>
                  </ul>
              </div>
            </div>                
          </div>
        </nav>
      </div>         
    </div>
</div>