<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbo_center center-block">
          <h1>Votre place de marché</h1>
          <p>C'est l'endroit où vendre, louer, échanger et partager des biens et services avec les autres membres de la place de marché.</p>
          <form class="navbar-form"  role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recherchez un produit ,un vendeur ou bien une collection...">
            </div>
            <button type="submit" class="btn btn-default btn-lg btn-jumbo">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </form>
          <% unless user_signed_in?%>
             <%= button_to "Ouvrir une boutique", user_registration_path, :method => :get, class: 'btn btn-action'%>
          <%end%>
        </div>
      </div>
    </div>     
  </div>
</div>
<div class="recent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <div class="main_listings switcher">
          <% if @listings.blank?%>
          <%else%>
          <h3>Publications Récentes</h3>
          <p>Découvrez les nouveaux produits de partout dans le marché.</p>
        </div>
        <div class="recent_pro clearfix">
          <ul class="trending">
           <%= render @listings.limit(3).order('created_at DESC')%>
          </ul>
          <div class="voir-plus clear">
              <%=link_to "Voir plus de produits", listings_path, class: "btn btn-voir" %>
              <!--<button type="button" class="btn btn-default btn-voir">Voir plus</button>-->
          </div> 
          <%end%>
        </div>          
      </div>
    </div>
  </div>
</div>
<div class="footer_mid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mid-footer">
          <div class="mid_listings switcher">
            <h3>La meilleure façon de vendre et d'acheter en ligne  </h3>
            <p> 3 raisons d'utiliser Timarché</p>
          </div>
          <div class="col col-md-4">
            <%=image_tag("fs-bank.png",)%> 
            <h3>clients satisfaits</h3>
            <p>
             Apprenez à connaître boutiques et articles avec avis de notre communauté.
            </p>
          </div>
          <div class="col col-md-4">
            <%=image_tag("fs-credit.png",)%>
            <h3>Vendeurs passionnés</h3>
            <p>
              Acheter des gens créatifs qui se soucient de la qualité et de l'artisanat.
            </p>
          </div>
          <div class="col no_boder_col col-md-4">
            <%=image_tag("fs-shield.png",)%>
            <h3>Transactions Sécurisées</h3>
            <p>
              Restez confiant en sachant notre equipe de sécurité est là pour vous protéger.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'pages/invite'%>

