<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-follow">
        <%=image_tag ("cd-icon-follow.png")%>
        <!--<img src="assets/images/cd-icon-picture.svg" alt="Picture">-->
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
        <ul class="media-list">
          <li class="media no_border">
            <div class="media-left up-time">
              <a href="#">
                <%= image_tag activity.user.avatar.url(:amedium), class: "img-circle pull-left",size: "48x48"%>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%=activity.user.name%></h4>
              <p><%=activity.user.name %> started following you</p>
            </div>
          </li>
        </ul>
        <span class="cd-date"><%=time_ago_in_words(activity.created_at)+" "+ "ago"%> </span>
    </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->


