<body id="bd_list">
<% @title = @category.name %>
<div class="container clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="main_pages switcher">
        <% breadcrumb :categories, @category %>
        <h3><%=@category.name%></h3>
        <p>Découvrez <%=@category.name%> de partout dans le marché.</p>
        <div class="btn-group switcher-left" role="group" aria-label="...">
          <% if @title == @category.name %>
            <%= link_to browse_path, class: "btn btn-default" do %>
              <span class="fa fa-arrow-circle-o-left"></span>Retour a la liste
            <%end%>
          <%end%> 
          <%= link_to recent_path ,class: "btn btn-default" do %>
            <span class="fa fa-clock-o"></span>Nouveautés
          <%end%>
          <%= link_to popular_path , class: "btn btn-default" do %>
            <span class="fa fa-fire"></span>Populaires
          <%end%>
        </div>
      </div>
      <div class="item_list" id="listings">
         <%= render @listings %>          
      </div>  
      <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination pagination-sm" %>
    </div>
    
  </div>
</div>


